[submodule "JUCE"]
	path = vst/JUCE
	url = https://github.com/juce-framework/JUCE.git
[submodule "vst/clap-juce-extensions"]
	path = vst/clap-juce-extensions
	url = https://github.com/free-audio/clap-juce-extensions.git
